html {
    width: 100%;
    height: 100%;
    background-color: white;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

header {
    width: 90%;
    height: 200px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 0;
    margin-bottom: 0;
}

body {
    width: 90%;
    height: 700px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 0;
    margin-bottom: 0;
}

h1 {
    color: black;
}

button {
    font-family: inherit;
}

#chart-container {
    position: relative;
    width: 100%;
}

#chart {
    position: relative;
}

.force {
    pointer-events: none;
    opacity: 50%;
}

.bar {
    fill: steelblue;
}

.tick {
    user-select: none;
}

.axis-label {
    user-select: none;
}