body {
    background-color: white;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

h1 {
    color: black;
}

button {
    font-family: inherit;
}

.bar {
    fill: steelblue;
}

.tick {
    user-select: none;
}

.axis-label {
    user-select: none;
}